<!DOCTYPE html>
<html>

<head>
	<title>Document Tab</title>
	<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="./css/style.css">
</head>


<body>
		<section>
		   <div class="main_container">
			   <p class="small_box"></p>
			   <p class="vertical1">Height90px</p>
		   </div>
		 <div class="posotion">
		   <div class="sub_container">
		     <p class="big_square1"></p>
		     <p class="big_square2"></p>
			 <h1 class="head">Height:630px</h1>
			 
		   </div> 
		   
		   <div class="squares">
		      <p class="small_square1">width:280px height:270px</p>  
		       <p class="small_square2">width:280px height:270px</p>  
		       <p class="small_square3">width:280px height:270px</p>  
		       <p class="small_square4">width:280px height:270px</p>  
			</div> 
	    </div>
			
		   <div class="third_container">
		   <div class="ver"> 
		     <p class="vertical2">Height:130px</p></div>
		   <div class="sub_container2"> 
			  <p class="big_square3">Height:800px</p>
		     <p class="big_square4">Height:800px</p>
		   </div>	 
			 <p class="vertical3">Height:90px</p>
			 </div>			 
		   
		</section>
</body>
</html>
	