*{
		margin:0;
		padding:0;
		box-sizing:border-box;
	}
	
	.main_container
	{
	height:90px;
	border:1px solid white;
	background-color:#757575;
	display:flex;
	justify-content:space-around;
	overflow:hidden;
	}
	
	.small_box
	{width:10%;
	height:100px;
	background-color:#282828 ;
	}
	
	.vertical1
	{width:58%;
	height:100px;
	background-color:#282828 ;
	font-size:28px;
	color:white;
	padding:24px 10px;}
	
	.sub_container
	{
	height:630px;
	border:1px solid white;
	background-color:#757575;
	display:flex;
	justify-content:space-evenly;
	overflow:hidden;
	padding:0px 130px;
	}
	
	.big_square1
	{height:650px;
	width:49%;
	background-color:#282828 ;
	}
	
	.big_square2
	{height:650px;
	width:49%;
	background-color:#282828 ;
	}
	
	.head
	{color:white;
	position:absolute;
	margin-top: 300px;
    font-size: 60px;}
	
	.squares
	{display:flex;
	justify-content:space-around;
	position:absolute;
    gap: 300px;
    left: 295px;
    top: 568px
	}
	
	.small_square1
	{width:280px;
	height:270px;
	background-color:black;
	color:white;
	font-size:28px;
	text-align:center;
	display:flex;
    align-items: center;	
	}
	
	.small_square2
	{width:280px;
	height:270px;
	background-color:black;
	color:white;
	font-size:28px;
	text-align:center;
	display:flex;
    align-items: center;	
	}

	.small_square3
	{width:280px;
	height:270px;
	background-color:black;
	color:white;
	font-size:28px;
	text-align:center;
	display:flex;
    align-items: center;	
	}

	.small_square4
	{width:280px;
	height:270px;
	background-color:black;
	color:white;
	font-size:28px;
	text-align:center;
	display:flex;
    align-items: center;
	}	
	
	.posotion
	{display:flex;
	 flex-direction: column;
	  }
	  
	  
	  .third_container
	  {
	  height:1350px;
	  background-color:#757575;	  
	  }
	  .ver
	  { 
       padding: 210px 300px 67px;
       }
	   
	   
	  .vertical2
	  {
	   width:100%;
	   border:1px solid;
	   height:130px;
	   background-color:#282828;
	   color:white;
	   display:flex;
	  align-items: center;
	  font-size:35px;
      justify-content: center;}
	  
	  .sub_container2
	  {
	   display:flex;
	   justify-content:space-evenly;
	    padding:0px 130px;	
	  }
	  
	  .big_square3
	{height:800px;
	width:50%;
	background-color:#282828;
	color:white;
    justify-content: center;
	   display:flex;
	  align-items: center;
	  border:1px solid white;
	  font-size:35px;
	}
	
	.big_square4
	{height:800px;
	width:50%;
	background-color:#282828;
     color:white;
      justify-content: center;
	   display:flex;
	  align-items: center;
	  border:1px solid white;
	  font-size:35px;
	}
	
	.vertical3
	{width:93.%;
	height:90px;
	margin:40px 130px;
	background-color:#282828;
	border:1px solid white;
	color:white;
	font-size:35px;}
	
     	
	   